<!DOCTYPE html>
<html>
    <head>
        <title>WebRTC DDN</title>
    </head>
    <body>
        <h1>Hello Everyone</h1>
        <video id="localStream" width="300" controls></video>
        <br />
        <video id="friendStream" width="300" controls></video>
        <br />
        <label>My Connection Tokenn</label>
        <br />
        <textarea rows="3" cols="100" id="txtMySignal"></textarea>
        <br />
        <input type="text" placeholder="Your Friend 's Signal" id ="txtFriendSignal" />
        <br />
        <button id="btnConnect">Connect</button>
    </body>
    <script src="bundle.js"></script>
</html>