<!DOCTYPE html>
<html>
    <head>
        <title>WebRTC DDN</title>
    </head>
    <body>
        <h1>Hello Everyone</h1>
        <video id="localStream" width="300" controls></video>
    </body>
</html>